<div class="forgot-password-container">
	<p-toast />

	<form [formGroup]="forgotForm" class="forgot-password-form">
		<h2>Recuperar Senha</h2>

		<div class="form-group">
			<label for="email">Email</label>
			<input
				type="email"
				id="email"
				formControlName="email"
				placeholder="Digite seu email"
			/>
			<div
				*ngIf="
					forgotForm.get('email')?.invalid && forgotForm.get('email')?.touched
				"
				class="error-message"
			>
				Email inválido.
			</div>
		</div>

		<button
			type="submit"
			[disabled]="forgotForm.invalid"
			(click)="recoverPassword()"
		>
			Recuperar Senha
		</button>

		<div class="form-links">
			<a routerLink="/auth/login">Voltar para Login.</a>
		</div>
	</form>
</div>
