<div class="register-container">
	<p-toast />

	<form [formGroup]="registerForm" class="register-form">
		<h2>Cadastro</h2>

		<div class="form-group">
			<label for="username">Username</label>
			<input
				type="username"
				id="username"
				formControlName="username"
				placeholder="Digite seu username"
			/>
			<div
				*ngIf="
					registerForm.get('username')?.invalid &&
					registerForm.get('username')?.touched
				"
				class="error-message"
			>
				<span *ngIf="registerForm.get('username')?.errors?.['required']">
					Username é obrigatório.
				</span>
				<span *ngIf="registerForm.get('username')?.errors?.['pattern']">
					Username deve conter apenas letras (ex: "usuario").
				</span>
			</div>
		</div>

		<div class="form-group">
			<label for="email">Email</label>
			<input
				type="email"
				id="email"
				formControlName="email"
				placeholder="Digite seu email"
			/>
			<div
				*ngIf="
					registerForm.get('email')?.invalid &&
					registerForm.get('email')?.touched
				"
				class="error-message"
			>
				<span *ngIf="registerForm.get('email')?.errors?.['required']">
					Email é obrigatório.
				</span>
				<span *ngIf="registerForm.get('email')?.errors?.['email']">
					Email inválido.
				</span>
			</div>
		</div>

		<div class="form-group">
			<label for="password">Senha</label>
			<input
				type="password"
				id="password"
				formControlName="password"
				placeholder="Digite sua senha"
			/>
			<div
				*ngIf="
					registerForm.get('password')?.invalid &&
					registerForm.get('password')?.touched
				"
				class="error-message"
			>
				<span *ngIf="registerForm.get('password')?.errors?.['required']">
					Senha é obrigatória.
				</span>
				<span *ngIf="registerForm.get('password')?.errors?.['minlength']">
					Senha deve ter no mínimo 6 caracteres.
				</span>
				<span *ngIf="hasPasswordError('noUpperCase')">
					Senha deve conter pelo menos uma letra maiúscula.
				</span>
				<span *ngIf="hasPasswordError('noLowerCase')">
					Senha deve conter pelo menos uma letra minúscula.
				</span>
				<span *ngIf="hasPasswordError('noDigit')">
					Senha deve conter pelo menos um número.
				</span>
				<span *ngIf="hasPasswordError('noNonAlphanumeric')">
					Senha deve conter pelo menos um caractere especial (ex: !#$%).
				</span>
			</div>
		</div>

		<div class="form-group">
			<label for="confirmPassword">Confirme a Senha</label>
			<input
				type="password"
				id="confirmPassword"
				formControlName="confirmPassword"
				placeholder="Confirme sua senha"
			/>
			<div
				*ngIf="
					registerForm.errors?.['mismatch'] &&
					registerForm.get('confirmPassword')?.touched
				"
				class="error-message"
			>
				As senhas não coincidem.
			</div>
		</div>

		<button
			type="submit"
			[disabled]="registerForm.invalid"
			(click)="register()"
		>
			Cadastrar
		</button>

		<div class="form-links">
			<a routerLink="/auth/login">Já tem conta? Faça login.</a>
		</div>
	</form>
</div>
